* {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
}

.App {
  text-align: center;
}

.home {
  height: calc(100vh + 30px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  font-size: calc(10px + 3vmin);
  color: white;
}

.home-btns {
  z-index: 1;
  margin-bottom: 4%;
}
.content {
  height: calc(100vh + 53px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #474b4f;
  padding-top: 60px;
}

.content-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #474b4f;
  padding-top: 4%;
}

.title {
  font-size: calc(10px + 4vmin);

}

.bar {
  width: 70px;
  height: 3px;
  background-color: #474b4f;
  margin: 3px 0px 50px 0px;


}

.canvas {
  background-color: #222629;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  width: 100vw;
}

.link-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: #1a1d1f ;
  width: 100%;
  height: 50px;
  position: absolute;
  left:0px;
  bottom:-50px;
  display: flex;
  border-bottom: 3px solid #86C323;
  z-index: 99;

}
.link-wrap-fixed {

  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: #1a1d1f ;
  width: 100%;
  height: 50px;
  position: fixed;
  left:0;
  top:0;
  display: flex;
  border-bottom: 3px solid #86C323;
  z-index: 99;

}

.link-btn{
  cursor: pointer;
  color:#6B6E70;
  font-size: calc(8px + 2vmin);
  z-index: 99;
  text-decoration: none;
}

.text {
  background-color: #222629;
  color: white;
  z-index: 1;
  font-size: calc(12px + 3vmin);
  padding-left: 8%;
  padding-right: 8%;
}

.cover-logo {
  z-index: 1;
  width: 80%;
  max-width: 400px;  
}



.about-text {
  margin-left: 10%;
  margin-right: 10%;
  font-size: calc(12px + 2vmin);
  text-align: start;
}

.button {
  color:#6B6E70;
  width: 200px;
  font-size:calc(12px + 3vmin);
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px;
  z-index: 1;
  border: solid #6B6E70 1px;
  transition: 0.4s;
  text-decoration: none;
}

.my-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.my-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.result-title {
  margin-top: 30px;
  margin-bottom: 25px;
  max-width: 450px;

  width: 70%;
  height: 60px;
  color: aliceblue;
}

.result-img-container {
  width: 300px;
  height: 269px;
}

.team-img {
  width: 90%;
  height: auto;
}

.img-sub {
  text-align: center;
  font-size: smaller;
}

.result-img {
  width: 300px;
}

.active {
  color: #86C323
}

.button:hover {
  color: white;
  background-color: #86C323;
  border: solid #86C323 1px;
  transition-timing-function: ease-in-out;
}

.highlight {
  color: #86C323
}

.highlight2 {
  color: #86C323;
  font-weight: 800;
  
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.insta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.partner-card {
  margin: 10px;

}

.plan-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.plan-card {
  border: 1px solid #474b4f;
  border-radius: 10px;
  margin: 25px;
  margin-bottom: 60px;
}

.wpp-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  transition: 0.4s;
  background-color: #86C323;
  font-weight: 800;
  border: 1px solid #6B6E70;
}

h3.plan-title-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: #86C323;
  padding: 8px;
  width: 300px;
  height: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

h3.plan-title-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: #1a1d1f;
  color:#86C323;
  padding: 8px;
  width: 300px;
  height: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

h3.plan-title-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  background-color: #86C323;
  padding: 8px;
  width: 300px;
  height: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

.plan-description-1 {
  padding-bottom:  8px;
  background-color: #86C323;
  margin-bottom: 8px;
  height: 30px;

}

.plan-description-2 {
  padding-bottom:  8px;
  background-color: #1a1d1f;
  color:#86C323;
  margin-bottom: 8px;
  height: 30px;

}

.plan-description-3 {
  padding-bottom:  8px;
  background-color: #86C323;
  margin-bottom: 8px;
  height: 30px;
}

.old-price {
  text-decoration: line-through;
  margin-bottom: 10px;
}

.price {
  font-size: xx-large;
  font-weight: 800;
  
}

.current-price {
  margin-bottom: 10px;
}

.price-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 45px
}

.subtitle { 
  font-size:x-small;
}

.carousel-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.carousel-bg {
  position: relative;
  width: 350px;
  height: 370px;
  background-color: #222629;
}

.grey-container {
  width: 90%;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #474b4f;
}

.my-results-title {
  color: #86C323;
  margin-top: 35px;
}

.carousel-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.pay-btn {
  padding: 8px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  transition: 0.4s;
  color: #86C323;
  font-weight: 800;
  border: 1px solid #6B6E70;
}

.FAQ {
  width: 80%;
}

.pay-btn:hover {
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #86C323;
  color: white;
  background-color: #86C323;
  border: solid #86C323 1px;
  transition-timing-function: ease-in-out;
}

.benefits {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.partner-link:hover {
  text-decoration: none;
  color: #86C323;
}

