.App {
  text-align: center;
}

.home {
  height: calc(100vh + 30px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.canvas {
  background-color: #222629;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  width: 100vw;
}

.link-wrap {
  text-transform: uppercase;
  background-color: #1a1d1f ;
  width: 100%;
  position: absolute;
  left:0px;
  bottom:-30px;
  display: flex;
  border-bottom: 3px solid #86C323;
  z-index: 99;

}

.link-btn{
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  color:#6B6E70;
  font-size: 15px;
  z-index: 99;
}

.text {
  background-color: #222629;
  color: white;
  z-index: 1;
}

.button {
  color:#6B6E70;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
  z-index: 1;
  border: solid #6B6E70 1px;
  transition: 0.4s;
}

.active {
  color: #86C323
}

.button:hover {
  color: white;
  background-color: #86C323;
  border: solid #86C323 1px;
  transition-timing-function: ease-in-out;
}

.highlight {
  color: #86C323
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
